
.success, .error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background: green;
}

.error {
    background: rgb(207, 55, 55);
}
.producto{
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 2px;
    height: 62px;
    align-items: center;
}
.alert {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
  }
.img{
    width: 60px;
}
#search-form{
    margin-top: 20px;
}

.contbtn{
    display: flex;
    gap: 5px;
}